<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button>
    <mat-icon>home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">Adicionar</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Cinema <mat-icon>add</mat-icon> </button>
    <button mat-menu-item>Salas <mat-icon>add</mat-icon> </button>
    <button mat-menu-item>Sessões <mat-icon>add</mat-icon> </button>
    <button mat-menu-item>Filmes <mat-icon>add</mat-icon> </button>
  </mat-menu>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>




<div style="margin-top: 5%;">
  <mat-tab-group>
    <mat-tab label="Cinemas">
      <app-cinema-list></app-cinema-list>
    </mat-tab>
    <mat-tab label="Filmes">
      <app-filmes-list></app-filmes-list>
    </mat-tab>
    <mat-tab label="Sessões"></mat-tab>
    <mat-tab label="Salas"></mat-tab>
  </mat-tab-group>
</div>