<button mat-button>Home <mat-icon>home</mat-icon> </button>
<button mat-button [matMenuTriggerFor]="menu">Adicionar</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Cinema <mat-icon>add</mat-icon> </button>
  <button mat-menu-item>Salas <mat-icon>add</mat-icon> </button>
  <button mat-menu-item>Sessões <mat-icon>add</mat-icon> </button>
  <button mat-menu-item>Filmes <mat-icon>add</mat-icon> </button>
</mat-menu>

<div style="margin-top: 5%;">
  <mat-tab-group>
    <mat-tab label="Cinemas">  </mat-tab>
    <mat-tab label="Filmes"> <app-filme-list></app-filme-list>> </mat-tab>
  </mat-tab-group>
</div>
