<div>
    <mat-form-field appearance="fill">
        <mat-label>Cinema</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Cidade</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Endereço</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Ponto de Referência</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Latitude</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Longitude</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Salas Associadas</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</div>