<div>
    <mat-form-field appearance="fill">
        <mat-label>Nome do Filme</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Data de Lançamento</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Elenco Principal</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Diretor(es)</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Escritor(es)</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Classificação</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Gênero</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Trailer Link</mat-label>
        <textarea matInput>teste.com</textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Link iMDB</mat-label>
        <textarea matInput>teste.com</textarea>
    </mat-form-field>
</div>